@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600;700;800&display=swap');
// font-family: 'Handjet', cursive;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
// font-family: 'Manrope', sans-serif;

// global
:root {
  --white: #efefef;
  --soft-white: #c4d5d8;
  --black: #131313;
  --soft-black: #2d3132;

  --gold-light: #ffd700;
  --gold-dark: #ff8000;

  --blue-light: #00d0ff;
  --blue-dark: #00d0ff;

  --violet-light: #c838e9;
  --violet-dark: #c838e9;

  // ---

  --font-title: 'Handjet', cursive;
  --font-text: 'Manrope', sans-serif;

  --fs-h1: 5rem;
  --fw-h1: 800;
  --fs-h2: 3rem;
  --fw-h2: 700;
  --fs-h3: 2.5rem;
  --fw-h3: 600;
  --fs-h4: 2rem;
  --fw-h4: 500;
}

// light theme
:root {
  --background: var(--white);
  --background-soft: var(--soft-white);

  --color: var(--black);
  --color-soft: var(--soft-black);

  --gold: var(--gold-dark);
  --blue: var(--blue-dark);
  --violet: var(--violet-dark);
}

// dark theme
.dark-theme {
  --background: var(--black);
  --background-soft: var(--soft-black);

  --color: var(--white);
  --color-soft: var(--soft-white);

  --gold: var(--gold-light);
  --blue: var(--blue-dark);
  --violet: var(--violet-dark);
}
