.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-soft);
  padding: 2rem;
  height: 70px;
  min-width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  gap: 5rem;
  z-index: 10;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
  }
}
